language : php
sudo: required
services:
  - docker
script:
  - docker build . -t a-php
  - docker images
  - docker login -e $DOCKER_HUB_EMAIL -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD
  - docker push dadohp/a-php